<form action="/auth/logout" class="logout-form" method="post"></form>
<h1>Chào mừng bạn quay trở lại</h1>
<h2>
  Chào bạn: <%= user.name %>
  <a
    href="#"
    onclick="
    event.preventDefault();
    document.querySelector('.logout-form').submit();
    "
    >Đăng xuất</a
  >
</h2>
