<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/css/bootstrap.min.css">
</head>

<body>
  <header class="border">
    <div class="container">
      <h1 class="text-center">HEADER</h1>
    </div>
  </header>

  <main class="py-5">
    <div class="container">
      <%- body %>
    </div>
  </main>
  <footer class="border">
    <p class="text-center">Copyright &copy; 2023 by F8</p>
  </footer>
</body>

</html>