<div class="row justify-content-center">
  <div class="col-6">
    <h2>Đăng nhập</h2>
    <form action="/auth/login/?redirect=<%= redirect %>" method="post">
      <div class="mb-3">
        <label for="">Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          placeholder="Email..."
        />
      </div>
      <div class="mb-3">
        <label for="">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          placeholder="Email..."
        />
      </div>
      <div class="d-grid">
        <button class="btn btn-primary">Đăng nhập</button>
      </div>
    </form>
  </div>
</div>
