<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/public/assets/css/style.css"
    />
    <style>
      .error {
        color: red;
        font-style: italic;
        display: block;
      }

      .alert {
        color: red;
      }
    </style>
  </head>
  <body>
    <h1>F8</h1>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque,
      exercitationem aliquid quibusdam maxime repudiandae consectetur sed, illo
      culpa provident esse itaque perspiciatis amet. Quos repellendus, fugiat
      distinctio alias ipsum dolores!
    </p>
    <div class="alert">{msg}</div>
    <form action="" method="post">
      <div>
        <input
          type="text"
          name="name"
          placeholder="Tên của bạn..."
          value="{old.name}"
        />
        <span class="error">{error.name}</span>
      </div>
      <div>
        <input
          type="text"
          name="email"
          placeholder="Email..."
          value="{old.email}"
        />
        <span class="error">{error.email}</span>
      </div>
      <button type="submit">Submit</button>
    </form>
    <script src="/public/assets/js/script.js"></script>
  </body>
</html>
