<form action="" method="post">
  <div>
    <label for="">Tên</label>
    <input type="text" name="name" placeholder="Tên..." required />
  </div>
  <div>
    <label for="">Email</label>
    <input type="email" name="email" placeholder="Email..." required />
  </div>
  <button>Submit</button>
</form>