<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include('../parts/header') %>
    <p><%= msg ?? '' %></p>
    <form action="" method="post">
      <div>
        <input type="text" name="name" placeholder="Tên sản phẩm..." />
      </div>
      <div>
        <input type="number" name="price" placeholder="Giá sản phẩm..." />
      </div>
      <button type="submit">Thêm</button>
    </form>
    <%- include('../parts/footer') %>
  </body>
</html>
